body{
    font-family: system-ui;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 100px;
}
.login-body{
    border-radius: 20px;
    display: grid;
    justify-items: center;
    row-gap: 20px;
    width: 400px;
    padding: 20px 0px;
    box-shadow: 0 0px 40px rgba(0,0,0,0.2);
}


.login-body input{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(233, 233, 233);
    font-size: 15px;
    padding-left: 20px;
    outline: none;
}

.login-body input:focus{
    font-size: 17px;
}

.login-body button{
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(139, 19, 199);
    color: white;
    margin-top: 20px;
}
.login-body button:hover{
    background-color: white;
    color: rgb(139, 19, 199);
    cursor: pointer;
    transition: 0.3s;
    border: solid 1px;
}

.login-body a{
    font-size: 15px;
    color: gray;
    text-decoration: none;
}
#error{
    font-size: 13px;
    color: red;
    padding: 0px;
}
