*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: white;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;

}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px; 
    color: white;
}
input:focus{
    background: #000;
}
.price input{
    width: 20%;
}
#total{
    background: rgb(151, 0, 0);
    padding: 9px 20px;
    border-radius: 4px;
    width: 50%;
}
#total::before{
    content: 'Total: ';
}

button{
    width: 100%;
    height: 32px;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight:600;
    font-size: 16px;
    
}
button:hover{
    background-color: #350052;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;

}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#update{
    background-color: rgb(5, 86, 5);
}
#delete{
    background-color:rgb(151, 0, 0);
}
#submit{
    background-color:rgb(5, 86, 5);
}
#searchTitle,#searchCategory{
    background-color: #ffc107;

}
#deleteAll{
    margin: 20px, 0;
}


.log_out a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-color:rgb(151, 0, 0); 
    padding: 5px;
    width: 10%;
    float: right;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    
    
}
.log_out:hover{
    box-shadow: 2px 2px 20px rgb(151, 0, 0) ;
}